@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Passion+One:wght@400;700;900&display=swap");


h2 {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: #968d8d; 
    margin: 0 auto;
}


p {
    font-family: 'PT Serif', serif;
    font-size: 25px;
    color: #968d8d;
    padding: 10px;
    background-color: lime;
}

.textoHome {
    font-family: 'PT Serif', serif;
    font-size: 25px;
    padding: 10px;
    background-color: rgba(230, 213, 198, 0.6);

}

.contenedor {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      background-image: url(../images/hombre.jpg);
      background-size: 100%;
      background-repeat: no-repeat; 
      margin-right: 35%;
      margin-left: 5%;
}

header {
    align-content: flex-start;
}

.header__logo {
    align-self: auto;
    width: 20vw;
  }

.titulo {
    color: lime;
    font-family: "Passion One", cursive;
    font-size: 5em;
    margin: 0 auto;
    line-height: 80pt;
    letter-spacing: 0px; 
}


.caja {
    border: 3px solid lime;
    border-radius: 15px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(230, 213, 198, 0.6);
    width: 650px;

}

button {
    background-color: lime;
    border-radius: 10px;
    padding: 5px;
    color: grey;
}

.textoGolpeador {
    display:none;
    color: tomato;

}

.textoSi {
    display:none;
    color: blue

}