@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Passion+One:wght@400;700;900&display=swap");

h1 {
    color: lime;
    font-family: "Passion One", cursive;
    font-size: 5em;
    margin: 0 auto;
    line-height: 50pt;
    letter-spacing: 5px; 
}

h2 {
    font-family: 'PT Serif', serif;
    font-size: 30px;
    color: #968d8d; 
}


p {
    font-family: 'PT Serif', serif;
    font-size: 25px;
    color: #968d8d;
    padding: 10px;
    background-color: lime;
  
}


.contenedor {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      background-image: url(../images/hombre.jpg);
      background-size: 100%;
      background-repeat: no-repeat; 
      margin-right: 35%;
}



.formulario{
    border: 3px solid lime;
    border-radius: 15px;
    margin-top: 0px;
    padding: 20px;
    background-color: rgba(230, 213, 198, 0.6);
}

button {
    background-color: lime;
    border-radius: 10px;
    padding: 5px;
    color: grey;
}